@import '~ant-design-vue/es/style/themes/default.less';

html,
body,
#app,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout.layout-basic {
  height: 100vh;
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

ul,
ol {
  list-style: none;
}

// 数据列表 样式
.table-alert {
  margin-bottom: 16px;
}
// 数据列表 操作
.table-operator {
  margin-bottom: 18px;

  button {
    margin-right: 8px;
  }
}
// 数据列表 搜索条件
.table-page-search-wrapper {
  .ant-form-inline {
    .ant-form-item {
      display: flex;
      margin-right: 0;
      margin-bottom: 24px;

      .ant-form-item-control-wrapper {
        flex: 1 1;
        display: inline-block;
        vertical-align: middle;
      }

      > .ant-form-item-label {
        width: auto;
        padding-right: 8px;
        line-height: 32px;
      }

      .ant-form-item-control {
        height: 32px;
        line-height: 32px;
      }
    }
  }

  .table-page-search-submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}
.separator {
  position: relative;
  display: inline-block; /* 保证定位生效 */
  padding: 10px;
}

/* 左侧竖线 */
.separator.left::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 40px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(206, 207, 207, 1) 35%, rgba(206, 207, 207, 1) 65%, rgba(0, 0, 0, 0) 100%);
  transform: translateY(-50%);
}

/* 右侧竖线 */
.separator.right::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 40px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(206, 207, 207, 1) 35%, rgba(206, 207, 207, 1) 65%, rgba(0, 0, 0, 0) 100%);
  transform: translateY(-50%);
}

/* 两边都有竖线 */
.separator.both::before,
.separator.both::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 1px;
  height: 40px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(206, 207, 207, 1) 35%, rgba(206, 207, 207, 1) 65%, rgba(0, 0, 0, 0) 100%);

  transform: translateY(-50%);
}
.separator.both::before {
  left: 0;
}
.separator.both::after {
  right: 0;
}

